/*General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*menu de navegacion*/
.menu {
    background-color: #dcd4c4;
}

.logo p {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.logo span {
    font-weight: 800;
}

/* barra de navegacion*/
.navbar {
    padding: 10px;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link:hover {
    color: rgba(182, 178, 90, 0.732);
}

/*hamburguesa*/
.navbar-toggler:focus {
    box-shadow: none;
}

/*fondo principal, se repite en index y proyectos*/
.boxprincipal {
    position: relative;
    background-image: url(../Img/enhanced_45456.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
}

/*texto principal, se repite en index y proyectos*/
.contenidoprincipal {
    position: absolute;
    top:40%;
    left: 50px;
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-align: center;
}

/*titulos, se repite en todos los html*/
.encabezado {
    text-align: center;
    font-size: 20px;
    margin: 20px;
    font-family: "Monterrat", sans-serif;
}

.cita {
    font-style: italic;
}


/*info principal*/

/*Sección especialidades principales*/
.especialidades {
    background-color: #9f907443;
    padding: 30px 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/*bloques de especialidades*/
.box-especialidades {
    flex: 1;
    min-width: 250px; 
    text-align: center;
}

/*iconos*/
.box-iconos {
    width: 60px;
    height: 60px;
    font-size: 40px;
    margin: 0 auto 20px;  
}

/*título especialidades*/
.box-especialidades h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #000000;
}

/*texto especialidades*/
.box-especialidades p {
    color: #000000;
    font-size: 15px;  
}

/*tarjetas informaticas*/
.card-img-top {
    height: 250px; 
    object-fit: cover;
    width: 100%;  
}

.card-body h2 {
    font-size: 25px;
}

.card {
    border: none;
}

.card .display-5 {
    font-size: 25px;
}

.titulo-casa {
    font-size: 40px;
}

/*seccion contacto, formulario*/
.boxcontacto {
    text-align: center;
    padding: 20px;
    background-color: #0c0c0c0e;
}

/*seccion footer*/
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    background-color: #dcd4c4;
    padding: 20px;
    align-items: center;              
    justify-items: center;            
}

.footer h2 {
    margin-bottom: 15px;
    font-size: 1.2em;
}

.footer p {
    max-width: 300px;
}

/*grilla icono*/
.contacto-footer ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    justify-items: center;
}

/*componentes*/
.cajabotones {
    justify-items: center;
    margin: 20px;
}

.btn {
    background-color: #bba88661;
}

.btn-primary {
    background-color: #9f907461;
    border: #000000 solid 1px;
    border-radius: 20px;
}

.btn:hover {
    background-color: rgba(182, 178, 90, 0.732);
    color: #000000;
    border: #000000 solid 1px;
}

/*Media queries*/

/* Movil */
@media (max-width: 576px) {
    .navbar .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo p {
        font-size: 1.6rem;
    }

    .navbar-collapse {
        background: #dcd4c4; 
        padding: 10px;
    }

    .navbar-nav {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .footer {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
