$colores-botones: (
    base:#9e7e4561,
    hover:rgba(148, 146, 103, 0.732),

    fondo-boton-principal:rgba(168, 163, 131, 0.645),
    color-boton-principal:rgb(255, 255, 255),
    boton-principal-hover:rgba(161, 149, 68, 0.645),
);

$tipografias-titulos:(
    tamaño-titulos: 20px,
    tamaño-titulos-cards: 30px,
    tamaño-fuente: 600, 
);