@use "../base/variables";
@use "sass:map";
@use "../utilities/maps";

/*Iconos footer*/
@mixin grilla-de-iconos-footer($columns: repeat(2, 1fr),) {
    display: grid;
    grid-template-columns: $columns;
    gap:5px;
    justify-items: center;
}

@mixin botones {
    font-family: variables.$fuente-principal;
    font-size: 25px;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    transition: all .2s ease;
    background-color: map.get(maps.$colores-botones, fondo-boton-principal);
}



