/*reset gral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*estilos gral*/
.encabezado {
    text-align: center;
    font-size: 20px;
    margin: 20px;
    font-family: "Montserrat", sans-serif;

    h1{
        font-weight: bold;
    }
}

.cita {
    font-style: italic;
}
