
/*tipografia*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Fuente principal*/
$fuente-principal: "Montserrat", sans-serif;

/*color tipografia*/
$negro: #11120D;
$blanco: #fffBF4;

/*paleta de colores*/
$color-principal: #bcad75;
$color-secundario-hover: rgb(231, 223, 100);
$color-terciario:#a4803c43;


